.container {
  overflow: hidden;
  background-color: #eff2fa;
  height: calc(100vh);
}
.application-title{
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 32px;
}
.add-event-btn {
  margin: 30px 0;
}